<html>
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="http://www.lib.ncsu.edu" class="brand library-brand">NCSU Libraries</a>
      <span id="desktop-secondary-navigation"></span>
      <a href="/myhuntlibrary/" class="brand app-brand">My #HuntLibrary</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li><li><a href="/myhuntlibrary/">Recent</a></li></a></li>
          <li><li><a href="/myhuntlibrary/images/popular">Popular</a></li></li>
          <li><li><a href="/myhuntlibrary/images/staff_picks">Staff Picks</a></li></li>
        </ul>
        <ul class="nav">
          <li class=""><li><a href="/myhuntlibrary/thisorthat/battle">Battle</a></li></li>
          <li class=""><li class="active"><a href="/myhuntlibrary/about">About</a></li></li>
        </ul>
      </div>
    </div>
  </div>
  <span id="mobile-secondary-navigation"></span>
</div>
<section id="about" class="wrapper">
    <div class="grid">
        <div class="well contribute grid-cell">
            <img alt="Aboutpageimage" src="/myhuntlibrary/assets/aboutpageimage-34c9dda7518663a7967fabc55c8ba74e.jpg" />
            <h1>Participating in <span class="projectname">My #HuntLibrary</span> is easy:</h1>
<ol>
  <li>Take an awesome Hunt Library photo</li>
  <li>Upload it to Instagram</li>
  <li>Tag it #HuntLibrary</li>
</ol>
<h1>About the Project</h1>
<p><span class="tag-line">We want everyone to see the best learning and collaborative space in the country...through your Instagram photos!</span></p>
<p>At <a href="http://go.ncsu.edu/myhunt">http://go.ncsu.edu/myhunt</a> you can <a href="/myhuntlibrary/thisorthat/battle">vote on your favorite #HuntLibrary photos</a>, see <a href="/myhuntlibrary/images/popular">popular images</a>, browse <a href="/myhuntlibrary/images/staff_picks">staff picks</a>, and more. NCSU Libraries will preserve the #HuntLibrary photos taken in 2013 forever in the University’s official digital archives so they become a permanent part of NC State history.</p>
<p>Questions? Email: <a href="mailto:myhuntlibrary@lists.ncsu.edu">myhuntlibrary@lists.ncsu.edu</a>.</p>
        </div>
        <div class="well pointofview grid-cell">
            <h1>A Different Point of View</h1>
<p><span class="tag-line">Have fun, be creative! Show us a feature that you love or a view that takes your breath away. Here are some ideas to get you going:</span></p>
<ul>
  <li>Find the building's best side</li>
  <li>Lounge on the Skyline Terrace</li>
  <li>Get Roman on the Monumental Stairs</li>
  <li>Draw a giant picture in the Idea Alcove</li>
  <li>Get collaborative in a group study room</li>
  <li>Immerse yourself in the Immersion Theater</li>
</ul>
        </div>
        <div class="well termsofuse grid-cell">
            <h1>Contest Winners</h1>
<p>During the first two months the Hunt Library was open, NCSU Libraries held a photography contest through <span class="projectname">My #HuntLibrary</span>. To see the winning photographs, visit <a href='http://go.ncsu.edu/mhlwinners'>http://go.ncsu.edu/mhlwinners</a>.</p>
            <h1>Terms of Use</h1>
<p>The public is encouraged to contribute to <span class="projectname">My #HuntLibrary</span> often by tagging multiple Instagram photos with the hashtag #HuntLibrary.</p>

<p>Popular images are determined by a combination of a photograph’s battle wins and the "likes" on the photograph. "Likes" on Instagram do not count towards the popularity score. "Likes" have to be submitted on the <span class="projectname">My #HuntLibrary</span> app to affect the popularity ranking.</p>

<p>The photograph must obey all laws, including applicable copyright and privacy laws.</p>

<h1>Archiving the Hunt Library Story</h1>

<p>All approved images tagged #HuntLibrary taken in 2013 will be included in the official North Carolina State University archives. When an image has been approved for inclusion in the NCSU Libraries archival collection, we will indicate that selection through a comment on that photo from the ncsulibraries Instagram account. The text of the comment reads:</p>

<p>"Thanks for your picture! The NCSU Libraries is archiving Instagram photographs tagged #HuntLibrary to help document the story of the James B. Hunt Jr. Library. Your photo has been selected for addition to this archival collection. The archives document the history of NC State for future generations, and your image will become part of the story of our new library. You will retain full ownership of any and all copyrights, but we ask that you grant the University a nonexclusive right to authorize all uses of these materials for non-commercial research, scholarly, or educational purposes or to publicize the Libraries, compatible with a Creative Commons Attribution, Non-commercial license. Please contact the Libraries Copyright and Digital Scholarship Center at <a href="http://www.lib.ncsu.edu/cdsc/contact">http://www.lib.ncsu.edu/cdsc/contact</a> with any questions you have about this comment."</p>

<p>Images selected for inclusion in the archives will be harvested by NCSU Libraries so that the archival digital object will reside on permanent NCSU Libraries storage infrastructure and not on Instagram servers. Users may contact NCSU Libraries at any time to request that the image be removed from our collections.</p>

<h1>Google Analytics Privacy Statement</h1>
<p>This site uses a cookie that collects anonymous traffic data through the <a href="http://www.google.com/analytics/">Google Analytics</a> service.</p>

<h1>Instagram API Statement</h1>
<p>This product uses the Instagram API but is not endorsed or certified by Instagram.</p>

<h1>Contact</h1>
<p>If you have questions about the <span class="projectname">My #HuntLibrary</span> project, please email <a href="mailto:myhuntlibrary@lists.ncsu.edu">myhuntlibrary@lists.ncsu.edu</a>. For more information about the James B. Hunt Jr. Library go to <a href="http://www.lib.ncsu.edu/huntlibrary">http://www.lib.ncsu.edu/huntlibrary</a>. If you have a question about a comment left on your Instagram photo, contact the Libraries Copyright and Digital Scholarship Center at <a href="http://www.lib.ncsu.edu/cdsc/contact">http://www.lib.ncsu.edu/cdsc/contact</a>.</p>

        </div>
    </div>
</section>


</body>

</html>
